<form class="login">
	<div class="col-md-12">
		<div id="usernameL-form" class="form-group col-12">
			<input class="form-control" style="width:100%;padding:12px;" id="usernameL-input" type="text" name="user"
				placeholder="Username">
			<small id="usernameL-feedback" class="inv_feedback"></small>
		</div>
		<div id="passwordL-form" class="form-group col-12">
			<input class="form-control" style="width:100%;padding:12px;" id="passwordL-input" type="password" name="pass"
				placeholder="Password">
			<small id="passwordL-feedback" class="inv_feedback"></small>
		</div>

		<div class="form-group col-lg-12">
			<input type="submit" name="login" style="width:100%; color:#fff;"
				class="btn btn-primary login loginmodal-submit" value="Login">
		</div>
		<div id="" class="form-group col-lg-12 text-center">
			<small id="login-feedback" class=""></small>
		</div>
	</div>
</form>