<nav class="iconav">
    <div class="iconav-slider">
        <ul class="nav nav-pills iconav-nav flex-md-column">
            <li class="text-center hover_blue" style="padding-top:5px;">
                <a class="nav-link" href="/home" title="Home" data-toggle="tooltip" data-placement="right"
                    data-container="body">
                    <span><i class="fas fa-home"></i></span>
                    <small class="iconav-nav-label">Home</small>
                </a>
            </li>
            <li class="text-center hover_blue">
                <a class="nav-link" href="/add" title="Add More" data-toggle="tooltip" data-placement="right"
                    data-container="body">
                    <span><i class="fas fa-clipboard-list"></i></span>
                    <small class="iconav-nav-label">Add</small>
                </a>
            </li>
            <li class="text-center hover_blue">
                <a class="nav-link" href="/history" title="History" data-toggle="tooltip" data-placement="right"
                    data-container="body">
                    <span><i class="fas fa-receipt"></i></span>
                    <small class="iconav-nav-label">History</small>
                </a>
            </li>
            {{#if isAuthenticated}}
            <li class="text-center hover_blue">
                <a class="nav-link" href="/users/sign-out" title="Log Out" data-toggle="tooltip" id="logout"
                    data-placement="right" data-container="body">
                    <span><i class="fas fa-sign-out-alt"></i></span>
                    <small class="iconav-nav-label">Log Out</small>
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>