<div id="registration-container" class="container-fluid">
  <section class="container">
    <div class="container-page">
      <div class="col-12">
        <div id="username-form" class="form-group col-lg-12" style="margin-top:10px;">
          <input placeholder="User name" width="80%" type="" name="" class="form-control" id="username-input" value="">
          <small id="username-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <div id="firstname-form" class="form-group col-lg-12">
          <input placeholder="First name" width="80%" type="" name="" class="form-control" id="firstname-input"
            value="">
          <small id="firstname-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <div id="lastname-form" class="form-group col-lg-12">
          <input placeholder="Last name" width="80%" type="" name="" class="form-control placeholder_color"
            id="lastname-input" value="">
          <small id="lastname-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <!-- Restorant Name -->
        <div id="restaurant-form" class="form-group col-lg-12">
          <select class="form-control option placeholder_color" id="restaurant-input">
            <option selected="selected">Select A Restaurant</option>
          </select>
          <small id="restaurant-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <!-- Add restorant display none -->
        <div id="addRestaurant-form" class="form-group col-lg-12 display_node">
          <input placeholder="Add Restaurant" type="text" class="form-control" id="addRestaurant-input" value="">
          <small id="addRestaurant-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <div id="email-form" class="form-group col-lg-12">
          <input placeholder="Email Address" width="80%" type="email" name="" class="form-control" id="email-input"
            value="">
          <p id="email-feedback" style="color:red;font-size:13px;" class=""></p>
          <small id="email-additional-feedback" style="color:red;font-size:13px;" class="form-text text-muted"></small>
        </div>

        <div id="email-repeat-form" class="form-group col-lg-12">
          <input placeholder="Repeat Email Address" width="80%" type="email" name="" class="form-control"
            id="repeat-email-input" value="">
          <small id="email-repeat-feedback" style="color:red;font-size:13px;" class=""></small>
        </div>

        <div id="password-form" class="form-group col-lg-12">
          <input placeholder="Password" width="80%" type="password" name="" class="form-control" id="password-input"
            value="">
          <small id="password-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>

        <div id="repeat-password-form" class="form-group col-lg-12">
          <input placeholder="Repeat Password" width="80%" type="password" name="" class="form-control"
            id="repeat-password-input" value="">
          <small id="repeat-password-feedback" style="color:red;font-size:13px;" class="inv_feedback"></small>
        </div>
      </div>
      <div class="text-center col-lg-12" style="margin-bottom:60px;">
        <button type="submit" style="width:95%; color:#fff;" class="btn btn-primary signup">Register</button>
      </div>
    </div>
  </section>
</div>