 {{> nav }}
 {{> logo }}



<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Category</th>
            <th scope="col">Subcategory</th>
            <th scope="col">Expenses</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>