<div class="text-center mb-5">
    <a href="/"><img src="images/logo.png" width="200px" alt=""></a>
</div>

<div class="container">


    <ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#budget" class="nav-link active" role="tab" data-toggle="tab" aria-controls="budget">BUDGET</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#expenses" class="nav-link" role="tab" data-toggle="tab" aria-controls="expenses">EXPENSES</a>
        </li>
    </ul>

    <hr class="mt-0 mb-5">

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="budget">

            <!-- Budget Form -->
            <div class="container">
                <div role="tabpanel" class="tab-pane" id="budget">
                    <div class="form_budget">

                        <div class="col-md-12 text-center">
                            <h4 class="dark-grey mb-4">BUDGET</h4>

                            <!-- Department Name -->
                            <div id="departmentName-form" class="form-group col-lg-12">
                                <input placeholder="Department Name" type="" name="" class="form-control"
                                    id="departmentName-input" value="">
                                <small id="departmentName-feedback" class=""></small>
                            </div>
                            <!-- Budget Amount -->
                            <div id="budgetAmount-form" class="form-group col-lg-12">
                                <input placeholder="Budget Amount" type="number" name="" class="form-control"
                                    id="budgetAmount-input" value="">
                                <small id="budgetAmount-feedback" class=""></small>
                            </div>

                            <!-- Expiration Date -->
                            <div id="expirationDate-form" class="form-group col-lg-12">
                                <input placeholder="Expiration Date" type="date" name="" class="form-control"
                                    id="expirationDate-input" value="">
                                <small id="expirationDate-feedback" class=""></small>
                            </div>

                            <!-- Budget Amount -->
                            <div id="budgetAmount-form" class="form-group col-lg-12">
                                <input placeholder="Budget Amount" type="number" name="" class="form-control"
                                    id="budgetAmount-input" value="">
                                <small id="budgetAmount-feedback" class=""></small>
                            </div>
                            <button type="submit" class="btn btn-primary signup" style="width:97%;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="expenses">

            <!-- Expenses Form -->
            <div class="container">
                <div role="tabpanel" class="tab-pane active" id="expenses">
                    <div class="form_expenses">
                        <div class="col-md-12 text-center">
                            <h4 class="dark-grey mb-4">EXPENSES</h4>

                            <!-- Department Name -->
                            <div id="departmentName-form" class="form-group col-lg-12">
                                <input placeholder="Department Name" type="" name="" class="form-control"
                                    id="departmentName-input" value="">
                                <small id="departmentName-feedback" class=""></small>
                            </div>
                            <!-- Budget Amount -->
                            <div id="expenseName-form" class="form-group col-lg-12">
                                <input placeholder="Expense Name" type="number" name="" class="form-control"
                                    id="expenseName-input" value="">
                                <small id="expenseName-feedback" class=""></small>
                            </div>

                            <!-- Expiration Date -->
                            <div id="expenseCost-form" class="form-group col-lg-12">
                                <input placeholder="Expense Cost" type="number" name="" class="form-control"
                                    id="expenseCost-input" value="">
                                <small id="expenseCost-feedback" class=""></small>
                            </div>

                            <!-- Budget Amount -->
                            <div id="expirationDate-form" class="form-group col-lg-12">
                                <input placeholder="Expiration Date" type="number" name="" class="form-control"
                                    id="expirationDate-input" value="">
                                <small id="expirationDate-feedback" class=""></small>
                            </div>
                            <button type="submit" class="btn btn-primary signup" style="width:97%;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>