{{!-- Expenses Form --}}
<div class="form_expenses">
    <h3>Expenses</h3>
    <form class="needs-validation" novalidate>
        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">Department Name</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Department Name" required>
            <div class="invalid-tooltip">
                Please provide department name
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip04">Expense Name</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Expense Name" required>
            <div class="invalid-tooltip">
                Please provide a expense name.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip05">Expense Cost</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="Expense Cost" required>
            <div class="invalid-tooltip">
                Please provide a expense cost.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip06">Expiration Date</label>
            <input type="text" class="form-control" id="validationTooltip06" placeholder="Expiration Date" required>
            <div class="invalid-tooltip">
                Please provide a expiration date.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>


{{!-- Budget Form --}}
<div class="form_budget">
    <h3>Budget</h3>
    <form class="needs-validation" novalidate>
        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">Department Name</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Department Name" required>
            <div class="invalid-tooltip">
                Please provide department name
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip04">Budget Amount</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Budget Amount" required>
            <div class="invalid-tooltip">
                Please provide a amount.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip06">Expiration Date</label>
            <input type="text" class="form-control" id="validationTooltip06" placeholder="Expiration Date" required>
            <div class="invalid-tooltip">
                Please provide a expiration date.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>