<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5>Logo</h5>
    <button type="button" class="btn btn-outline-dark">log in</button>
    <button type="button" class="btn btn-outline-dark">sign in</button>
  </div>
</div>