<body>
  <div class="container">
    <div class="text-center mb-3" style="margin-top:100px;">
      <a href="/"><img src="assets/images/logo.png" width="80%" alt=""></a>
    </div>
    <div class="text-center">
      <a href="/partials/login" class="btn btn-outline-primary px-3 page-scroll" data-toggle="modal"
        style="margin-right:10px; width:25%">LOGIN</a>
      <a href="/users/registration" class="btn btn-outline-primary px-3 page-scroll" data-toggle="modal"
        style="width:25%">SIGN UP</a>
    </div>

  </div>
  </div>
</body>