{{> nav }}
{{> logo }}

<div class="container">


    <ul class="nav nav-bordered mt-4 mt-md-2 mb-0 clearfix" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#budget" class="nav-link active" role="tab" data-toggle="tab" aria-controls="budget">BUDGET</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#expenses" class="nav-link" role="tab" data-toggle="tab" aria-controls="expenses">EXPENSES</a>
        </li>
    </ul>

    <hr class="mt-0 mb-5">

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="budget">

            <!-- Budget Form -->
            <div class="container">
                <div role="tabpanel" class="tab-pane" id="budget">
                    <div class="form_budget">

                        <div class="col-md-12">
                            <h4 class="dark-grey mb-4 text-center">BUDGET</h4>

                            <!-- Department Name -->
                            <div id="departmentNameB-form" class="form-group col-lg-12">
                                <select class="form-control option placeholder_color" id="departmentNameB-input">
                                    <option selected="selected" id="defaultselect">Select A Department</option>
                                    <option>Add More</option>
                                </select>
                                <small id="departmentNameB-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- addCategoryNameB display none -->
                            <div id="addCategoryNameB-form" class="form-group col-lg-12 display_node">
                                <input placeholder="Add Department Name" type="text" class="form-control"
                                    id="addCategoryNameB-input" value="">
                                <small id="addCategoryNameB-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- Budget Amount -->
                            <div id="budgetAmountB-form" class="form-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mr-1 placeholder_color" id="inputGroupPrepend"><i
                                            class="fas fa-dollar-sign fa-xl"></i></span>
                                    <input pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"
                                        placeholder="Budget Amount" aria-describedby="inputGroupPrepend" type=""
                                        class="form-control comma" id="budgetAmountB-input" value="">
                                </div>
                                <small id="budgetAmountB-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- Expiration Date -->
                            <div id="expirationDateB-form" class="form-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mr-1 placeholder_color" id="inputGroupPrepend"><i
                                            class="fas fa-calendar-alt fa-xl"></i></span>

                                    <input placeholder="Expiration Date" type="date" name="" class="form-control"
                                        id="expirationDateB-input" value="">
                                </div>
                                <small id="expirationDateB-feedback" class="inv_feedback"></small>
                            </div>
                            <div class="form-group col-lg-12">
                                <a type="submit" class="btn btn-primary signupB" style="width:100%;">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="expenses">

            <!-- Expenses Form -->
            <div class="container">
                <div role="tabpanel" class="tab-pane active" id="expenses">
                    <div class="form_expenses">
                        <div class="col-md-12">
                            <h4 class="dark-grey mb-4 text-center">EXPENSES</h4>

                            <!-- Department Name -->
                            <div id="departmentNameE-form" class="form-group col-lg-12">
                                <select class="form-control option placeholder_color" id="departmentNameE-input">
                                    <option selected="selected" id="expenseSelect">Select A Department</option>
                                </select>
                                <small id="departmentNameE-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- addCategoryNameE display none-->
                            <div id="addCategoryNameE-form" class="form-group col-lg-12 display_node">
                                <input placeholder="Add Department Name" type="text" class="form-control"
                                    id="addCategoryNameE-input" value="">
                                <small id="addCategoryNameE-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- Expense Name -->
                            <div id="expenseNameE-form" class="form-group col-lg-12">
                                <input placeholder="Expense Name" type="text" name="" class="form-control"
                                    id="expenseNameE-input" value="">
                                <small id="expenseNameE-feedback" class="inv_feedback"></small>
                            </div>


                            <!-- Expiration Cost-->
                            <div id="expenseCostE-form" class="form-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mr-1 placeholder_color" id="inputGroupPrepend"><i
                                            class="fas fa-dollar-sign fa-xl"></i></span>
                                    <input pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency"
                                        placeholder="Expense Cost" type="" aria-describedby="inputGroupPrepend"
                                        class="form-control comma" id="expenseCostE-input" value="">
                                </div>
                                <small id="expenseCostE-feedback" class="inv_feedback"></small>
                            </div>

                            <!-- Expiration Date -->
                            <div id="expirationDateE-form" class="form-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mr-1 placeholder_color" id="inputGroupPrepend"><i
                                            class="fas fa-calendar-alt fa-xl"></i></span>

                                    <input placeholder="Expiration Date" aria-describedby="inputGroupPrepend"
                                        type="date" name="" class="form-control" id="expirationDateE-input">
                                </div>
                                <small id="expirationDateE-feedback" style="color:red;font-size:13px;"></small>

                            </div>
                            <div class="form-group col-lg-12">
                                <a type="submit" class="btn btn-primary signupE text-center"
                                    style="width:100%;">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/currency_input.js"></script>
<script src="/assets/js/add_expense.js"></script>
<script src="/assets/js/add_budget.js"></script>