 {{> nav }}
 {{> logo }}

<div class="tab-content ml-3 pl-3 mr-3 pr-3">
    <div role="tabpanel" class="tab-pane active" id="traffic">
        <div class="row text-center m-t-md">
            <div class="col-md-6 mb-4">
                <!-- graph -->
                <p style="height:100px; margin-top:30px;">Graph here</p>
                <h4>BUDGET</h4>
            </div>
            <div class="col-md-6 mb-5">
                <!-- graph -->
                <p style="height:100px; margin-top:30px;">Graph here</p>

                <h4>EXPENSES</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-11 mb-5 ml-3 pl-3 mr-3 pr-3">
            <div class="list-group mb-3 text-center">
                <h6 class="list-group-header mb-5">BUDGET VS EXPENSES</h6>
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                Graph
                <hr class="mt-0 mb-5">
                <a href="#" class="btn btn-outline-primary px-3">BACK TO TOP</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/charts.js"></script>