/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

/* display placeholder date msg */
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #6c757d;
  margin-right: 0.25em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

 /* fix input placeholder color */
 input[type=date] {
  color:#6c757d;
}

/* fix select placeholder color */
.placeholder_color {
  color:#6c757d;
}

/* Hide subcategory input */
.display_node {
  display: none;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}
